$primary-clr-violet:hsl(257, 40%, 49%);
$primary-clr-Soft:hsl(300, 69%, 71%);

$ff-body:"Open Sans", sans-serif;
$ff-heading: "Poppins", sans-serif;

$fw-body-normal:400;
$fw-heading-normal:400;
$fw-heading-bold:600;
$fs-500:0.5rem;
$fs-600:1rem;
$fs-900:2rem;